@page
@model WebMovieApp_4_10.Pages.Movies.ApplySuccessModel

<h1>Congratulations, you have successfuly applied for Movie @Model.Movie.Title </h1>

<a asp-page="Index" class="text-black">Return to Movie list</a>